.fi-sc-tabs {
    border: none;
    margin-bottom: 0;
}

.fi-tabs {
    margin-left: 0;
    border: none;
    background: transparent;
    padding-bottom: 1px;
    padding-top: 1px;
    box-shadow: none;
    border-radius: 0 !important;
}

.fi-tabs-item {
    border-radius: 0 !important;
    background: #efefef;
    border-top: 2px solid transparent;
}

.fi-tabs-item:has(> .fi-icon) {
    padding-right: 20px;
}

.fi-tabs-item:where(.dark, .dark *) {
    background: #18181B;
}

.fi-tabs-item.fi-advanced-table-preset-tab > .fi-icon {
    font-weight: 700;
    line-height: 1;
}

.fi-tabs-item.fi-active {
    background-color: transparent;
    border-top-color: var(--primary-600);
}

.fi-tabs-item.fi-advanced-table-preset-tab.fi-active {
    background-color: transparent;
    border-top-color: var(--color-600);
}

.fi-tabs-item.fi-active .fi-tabs-item-label {
    color: var(--gray-700);
    font-weight: 700;
}

.fi-tabs-item.fi-active > .fi-icon {
    color: var(--gray-700);
}

.fi-tabs-item.fi-active:where(.dark, .dark *) {
    border-top-color: var(--color-400);
}

.fi-tabs-item.fi-advanced-table-preset-tab.fi-active:where(.dark, .dark *) .fi-tabs-item-label,
.fi-tabs-item.fi-advanced-table-preset-tab.fi-active:where(.dark, .dark *) > .fi-icon {
    color: var(--gray-200);
}
