@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/malzariey/filament-daterangepicker-filter/dist/filament-daterangepicker.css';
@import '../shared/panel-tabs.css';

@source '../../../../app/Filament/**/*.php';
@source '../../../../resources/views/filament/**/*.blade.php';
@source '../../../../resources/views/**/*.blade.php';


trix-editor h3 {
    text-align: center;
}

.filepond--item {
    /* background: green !important; */
}
.filepond--file-wrapper {
    background: linear-gradient(0deg, rgba(66,66,66,0.2) 50%,rgba(66,66,66,0.7) 100%);
    border-radius: 10px;
}

.fi-modal-header {
    @apply py-4 border-b dark:border-b-gray-700 border-b-gray-200;
}

.selectify-button-group {
    cursor: pointer
}
.fi-sidebar-nav {
    background: #FFF;
    padding-right: 10px;
}

.fi-sidebar-nav:where(.dark, .dark *) {
    background: #18181B;
}

.fi-logo svg {
    height: 40px !important;
    margin-top: -5px
}

h1.fi-header-heading {
    @apply text-slate-600;
}
