@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../shared/panel-tabs.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../app/Filament/Crm/**/*';
@source '../../../../app/Filament/Website/**/*';
@source '../../../../resources/views/filament/admin/**/*';
@source '../../../../resources/views/filament/crm/**/*';
@source '../../../../resources/views/filament/website/**/*';

@theme {
  --font-sans: 'Inter Variable', Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.fi-logo svg {
    height: 40px !important;
    margin-top: -5px;
}
